*{
    font-size: 10px;
}
    body{
    overflow-x: hidden;
    
}
header{
    height: 100%;
    width:100%;
}
/* .flex-columns {
    flex-direction: column;
    text-align: center;
    margin:auto;
    width: 100%;
} */
.flex-columns .column-1,.column-2{
    flex: 100%;
    max-width: 100%;
}

.column-1 img{
    text-align: center;
    width: 30%;
    margin-bottom: 20px;
}
.primary-container img {
    margin-left: 0px!important;
    margin-top:10px;
}
.primary-container .content img{
    margin-top:-50px!important;
    margin-bottom: -10px;
}
.column-1{
    width: 100%;
    text-align: center;
}
.column-2{
    width: 100%;
    text-align: center;
    /* padding-top: 35px; */
}
.flex-columns-2 .column-1,.column-2{
    flex: 100%;
    max-width: 100%;
}
main .flex-container{
    flex-direction: column;
    width: 100%;
}
main .flex-container img{
    width:50%;
}
